.contador {
    background-color: rgb(16,16,16);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.digito {
    background-color: rgb(7,7,7);
    border: 5px;
    border-color: solid gray;
    margin-left: 15;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
   
}

